body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;

  margin-left: auto;
  margin-right: auto;
}

.form label {
 margin: 5px;
 margin-left: 0px;
}

.address {
  border: black solid 1px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.addressTitle {
  margin: 0;
  padding: 5px;
  position: absolute;
  top: -20px;
  background-color: white;
}

.buttonSubmit{
  width: 100px;
  padding: 8px 10px;
  align-self: center;
}

.modal{
  position: relative;
   background-color: white;
   margin: auto;
   margin-top: 25%;
   width: 300px;
   padding: 20px;
   border-radius: 5px;
}
.modal-background{
position: absolute;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(116, 116, 110, 0.363);
}
.modal button {
position: absolute;
top: 0;
right: 0;
}

select {
  margin: 10px 0;
}

/* View Employee CSS*/

.tableSelect {
  margin: 10px;
}
.tableInput{
  margin: 10px;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;;
}

th {
  padding: 10px;
  border-bottom: solid 1px black;
}
tbody tr :hover {
  background-color: rgb(211, 208, 208);
}
td {
  padding: 10px;
}

.viewEmployee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content :space-between;
}
.filters div {
  display: flex;
  align-items: center;
}

.filters input {
  height: 25px;
}
.tableButton {
  padding: 8px 16px;
  margin: 0 5px;
  background: none;
  border: none;
  border-radius: 3px;
}
.tableButton:active{
  border: solid gray 1px;
  background-color: rgb(153, 152, 152);
}
.tableButton:hover{
  background-color: rgb(59, 59, 59);
  color: white;
}
.tableFoot{
  display: flex;
  width: 937px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 